.productList {
  background-color: white;
  list-style: none;
  text-indent: 2%;
  width: 180px;
  padding: 3% 2% 0% 2%;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.26);
  z-index: 1;

  a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .productOnList {
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.3s;
    border-bottom: 1px solid rgb(245, 245, 245);
    &.productOnList:hover {
      background-color: #dff1ff;
    }
  }

  .genreList {
    text-indent: 10%;
    list-style: none;
    background-color: rgb(245, 245, 245);
    li {
      transition: 0.3s;
      &:hover {
        background-color: #dff1ff;
      }
      a {
        cursor: pointer;
        font-size: 1.4rem;
      }
    }
  }
}
@media (max-width: 1024px) {
  .productList {
    padding: 3% 1% 0% 1%;
    a {
      font-size: 1.4rem;
    }
    .genreList {
      li {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
